.header{
  display:flex;
  justify-content: space-between;
}
.Logo{
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: row;
}
.Logo>h1{
  text-decoration: underline ;
  font-size: 25px;
  color : white;
}
.Logo>i{
  margin-top: 17px;
  font-size: 30px;
  color: white;
}
.main {
  margin : 25px;
  min-height: 800px;
}
.user-info{
  padding: 25px;
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  max-width: 400px;
  border: 2px solid red;
}
.user-name{
  display: flex;
  flex-direction: row;
}
.user-icon{
  padding: 15px;
  margin: 20px;
}
.user-avatar{
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.avatar-uploader > .ant-upload {
  width: 128px;
  height: 128px;
}
.edit{
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-wrap{
  padding-top: 25px;
  font-size: 25px;
}
.btn-wrap>button{
  font-size: 25px;
}
.inputs  {
  margin: 15px;
}
.bad-url-page{
  margin-top: 50px;
  text-align: center;
}
.footer{
  margin: 0px;
}
.auth{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form-auth{
  font-size: 25px;
  margin-left: 150px;
}
.article-preview{
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 600px;
  min-height: 100px;
  border: 2px solid red;
}
.article-image{
  margin: 10px;
  background-color: grey;
  min-width: 160px;
  min-height: 160px
}
.article-text{
  display: flex;
  margin-top: 25px;
  margin-left: 30px;
  flex-direction: column;
  font-size:16px;
}
.admin-eneter{
  margin : 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
.article-page{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-preload{
  cursor: pointer;
  border-radius:15px; 
  box-shadow: 3px 2px 1px 3px #7A7A7A;
  border: 2px solid black;
  margin: 15px 0 ;
  display: block;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.articles-ulka{
  display: flex;
  flex-direction: column-reverse;
}
.title{
  margin-left: 50px;
  margin-top: 20px;
}
.description{
  margin-left: 40px;
  margin-top: -10px;
}
.content{
    position: relative;
}
.back-arrow{
  position: absolute;
  bottom: 10px;
}
.controll{
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.admin-eneter-controll{
  background-image: url('');
  margin : 0 auto;
  max-width: 1200px;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  position: relative;
}